certifi==2019.3.9
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-SocketIO==3.3.2
future==0.17.1
idna==2.8
itchat==1.2.32
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pypng==0.0.19
PyQRCode==1.2.1
python-engineio==3.5.1
python-socketio==3.1.2
requests==2.21.0
six==1.12.0
urllib3==1.24.2
Werkzeug==0.15.2
wxpy==0.3.9.8
